html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.bold {
  font-weight: bold; }

.regular {
  font-weight: normal; }

.lighter {
  font-weight: lighter; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase;
  letter-spacing: .2em; }

.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

.fw-1000 {
  font-weight: 1000; }

.left-align {
  text-align: left; }

.text-center {
  text-align: center; }

.right-align {
  text-align: right; }

.justify {
  text-align: justify; }

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; }

  .text-justify-xs {
    text-align: justify; } }
.center {
  margin: 0 auto; }

/*table center*/
.table-center {
  display: table;
  width: 100%;
  height: 100%; }
  .table-center > div {
    display: table-cell;
    vertical-align: middle;
    float: none; }

.table-center-sm {
  display: table;
  width: 100%; }

@media (min-width: 767px) {
  .table-center-sm {
    height: 100%; }

  .table-center-sm > div {
    display: table-cell;
    vertical-align: middle;
    float: none; } }
.nowrap {
  white-space: nowrap; }

.break-word {
  word-wrap: break-word; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.list-reset {
  list-style: none;
  padding-left: 0; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.float-none {
  float: none; }

.height-100 {
  height: 100%; }

.height-initial {
  height: initial; }

.min-height-150 {
  min-height: 150px; }

.min-height-320 {
  min-height: 320px; }

.min-height-480 {
  min-height: 480px; }

.min-height-640 {
  min-height: 640px; }

.min-height-730 {
  min-height: 730px; }

.min-height-100 {
  min-height: 100%; }

.width-100 {
  width: 100%; }

.full {
  width: 100%;
  height: 100%; }

.max-width-150 {
  max-width: 150px; }

.max-width-320 {
  max-width: 320px; }

.max-width-480 {
  max-width: 480px; }

.max-width-640 {
  max-width: 640px; }

.max-width-730 {
  max-width: 730px; }

.max-width-100 {
  max-width: 100%; }

.border-box {
  box-sizing: border-box; }

.border-none {
  border: none !important; }

.br1 {
  border-radius: 1px; }

.br2 {
  border-radius: 2px; }

.br3 {
  border-radius: 3px; }

.br4 {
  border-radius: 4px; }

.br5 {
  border-radius: 5px; }

.br6 {
  border-radius: 6px; }

.br50 {
  border-radius: 50%; }

.align-baseline {
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.m05 {
  margin: 0.5rem; }

.mt05 {
  margin-top: 0.5rem; }

.mr05 {
  margin-right: 0.5rem; }

.mb05 {
  margin-bottom: 0.5rem; }

.ml05 {
  margin-left: 0.5rem; }

.m1 {
  margin: 1rem; }

.mt1 {
  margin-top: 1rem; }

.mr1 {
  margin-right: 1rem; }

.mb1 {
  margin-bottom: 1rem; }

.ml1 {
  margin-left: 1rem; }

.m2 {
  margin: 2rem; }

.mt2 {
  margin-top: 2rem; }

.mr2 {
  margin-right: 2rem; }

.mb2 {
  margin-bottom: 2rem; }

.ml2 {
  margin-left: 2rem; }

.m3 {
  margin: 3rem; }

.mt3 {
  margin-top: 3rem; }

.mr3 {
  margin-right: 3rem; }

.mb3 {
  margin-bottom: 3rem; }

.ml3 {
  margin-left: 3rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.m5 {
  margin: 5rem; }

.mt5 {
  margin-top: 5rem; }

.mr5 {
  margin-right: 5rem; }

.mb5 {
  margin-bottom: 5rem; }

.ml5 {
  margin-left: 5rem; }

.m6 {
  margin: 6rem; }

.mt6 {
  margin-top: 6rem; }

.mr6 {
  margin-right: 6rem; }

.mb6 {
  margin-bottom: 6rem; }

.ml6 {
  margin-left: 6rem; }

.m7 {
  margin: 7rem; }

.mt7 {
  margin-top: 7rem; }

.mr7 {
  margin-right: 7rem; }

.mb7 {
  margin-bottom: 7rem; }

.ml7 {
  margin-left: 7rem; }

.m8 {
  margin: 8rem; }

.mt8 {
  margin-top: 8rem; }

.mr8 {
  margin-right: 8rem; }

.mb8 {
  margin-bottom: 8rem; }

.ml8 {
  margin-left: 8rem; }

.m9 {
  margin: 9rem; }

.mt9 {
  margin-top: 9rem; }

.mr9 {
  margin-right: 9rem; }

.mb9 {
  margin-bottom: 9rem; }

.ml9 {
  margin-left: 9rem; }

.m10 {
  margin: 10rem; }

.mt10 {
  margin-top: 10rem; }

.mr10 {
  margin-right: 10rem; }

.mb10 {
  margin-bottom: 10rem; }

.ml10 {
  margin-left: 10rem; }

.mxn1 {
  margin-left: -.5rem;
  margin-right: -.5rem; }

.mxn2 {
  margin-left: -1rem;
  margin-right: -1rem; }

.mxn3 {
  margin-left: -2rem;
  margin-right: -2rem; }

.mxn4 {
  margin-left: -4rem;
  margin-right: -4rem; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pr0 {
  padding-right: 0; }

.pb0 {
  padding-bottom: 0; }

.pl0 {
  padding-left: 0; }

.p05 {
  padding: 0.5rem; }

.pt05 {
  padding-top: 0.5rem; }

.pr05 {
  padding-right: 0.5rem; }

.pb05 {
  padding-bottom: 0.5rem; }

.pl05 {
  padding-left: 0.5rem; }

.p1 {
  padding: 1rem; }

.pt1 {
  padding-top: 1rem; }

.pr1 {
  padding-right: 1rem; }

.pb1 {
  padding-bottom: 1rem; }

.pl1 {
  padding-left: 1rem; }

.p2 {
  padding: 2rem; }

.pt2 {
  padding-top: 2rem; }

.pr2 {
  padding-right: 2rem; }

.pb2 {
  padding-bottom: 2rem; }

.pl2 {
  padding-left: 2rem; }

.p3 {
  padding: 3rem; }

.pt3 {
  padding-top: 3rem; }

.pr3 {
  padding-right: 3rem; }

.pb3 {
  padding-bottom: 3rem; }

.pl3 {
  padding-left: 3rem; }

.p4 {
  padding: 4rem; }

.pt4 {
  padding-top: 4rem; }

.pr4 {
  padding-right: 4rem; }

.pb4 {
  padding-bottom: 4rem; }

.pl4 {
  padding-left: 4rem; }

.p5 {
  padding: 5rem; }

.pt5 {
  padding-top: 5rem; }

.pr5 {
  padding-right: 5rem; }

.pb5 {
  padding-bottom: 5rem; }

.pl5 {
  padding-left: 5rem; }

.p6 {
  padding: 6rem; }

.pt6 {
  padding-top: 6rem; }

.pr6 {
  padding-right: 6rem; }

.pb6 {
  padding-bottom: 6rem; }

.pl6 {
  padding-left: 6rem; }

.p7 {
  padding: 7rem; }

.pt7 {
  padding-top: 7rem; }

.pr7 {
  padding-right: 7rem; }

.pb7 {
  padding-bottom: 7rem; }

.pl7 {
  padding-left: 7rem; }

.p8 {
  padding: 8rem; }

.pt8 {
  padding-top: 8rem; }

.pr8 {
  padding-right: 8rem; }

.pb8 {
  padding-bottom: 8rem; }

.pl8 {
  padding-left: 8rem; }

.p9 {
  padding: 9rem; }

.pt9 {
  padding-top: 9rem; }

.pr9 {
  padding-right: 9rem; }

.pb9 {
  padding-bottom: 9rem; }

.pl9 {
  padding-left: 9rem; }

.p10 {
  padding: 10rem; }

.pt10 {
  padding-top: 10rem; }

.pr10 {
  padding-right: 10rem; }

.pb10 {
  padding-bottom: 10rem; }

.pl10 {
  padding-left: 10rem; }

.p05 {
  padding: 0.5rem; }

.py05 {
  padding-top: .5rem;
  padding-bottom: 0.5rem; }

.px05 {
  padding-left: .5rem;
  padding-right: 0.5rem; }

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.px1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.px2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.px3 {
  padding-left: 3rem;
  padding-right: 3rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.px4 {
  padding-left: 4rem;
  padding-right: 4rem; }

.py5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.px5 {
  padding-left: 5rem;
  padding-right: 5rem; }

.py6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.px6 {
  padding-left: 6rem;
  padding-right: 6rem; }

.py7 {
  padding-top: 7rem;
  padding-bottom: 7rem; }

.px7 {
  padding-left: 7rem;
  padding-right: 7rem; }

.py8 {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.px8 {
  padding-left: 8rem;
  padding-right: 8rem; }

.py9 {
  padding-top: 9rem;
  padding-bottom: 9rem; }

.px9 {
  padding-left: 9rem;
  padding-right: 9rem; }

.py10 {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.px10 {
  padding-left: 10rem;
  padding-right: 10rem; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.bottom-0 {
  bottom: 0; }

.left-0 {
  left: 0; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

.text-shadow-1 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }

.text-shadow-2 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }

.text-shadow-3 {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1); }

.rightImage {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-size: cover;
  background-position: center; }

.leftImage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-size: cover;
  background-position: center; }

.white {
  color: #fff; }

.black {
  color: #333; }

.black-bg {
  background-color: #333; }

.white-bg {
  background-color: #fff; }

.display-none {
  display: none !important; }

/*ANIMATION*/
/*delays*/
.delay1 {
  -webkit-animation-delay: 0.1s !important;
  -moz-webkit-animation-delay: 0.1s !important;
  -ms-webkit-animation-delay: 0.1s !important;
  -o-webkit-animation-delay: 0.1s !important;
  webkit-animation-delay: 0.1s !important; }

.delay2 {
  -webkit-animation-delay: 0.2s !important;
  -moz-webkit-animation-delay: 0.2s !important;
  -ms-webkit-animation-delay: 0.2s !important;
  -o-webkit-animation-delay: 0.2s !important;
  webkit-animation-delay: 0.2s !important; }

.delay3 {
  -webkit-animation-delay: 0.3s !important;
  -moz-webkit-animation-delay: 0.3s !important;
  -ms-webkit-animation-delay: 0.3s !important;
  -o-webkit-animation-delay: 0.3s !important;
  webkit-animation-delay: 0.3s !important; }

.delay4 {
  -webkit-animation-delay: 0.4s !important;
  -moz-webkit-animation-delay: 0.4s !important;
  -ms-webkit-animation-delay: 0.4s !important;
  -o-webkit-animation-delay: 0.4s !important;
  webkit-animation-delay: 0.4s !important; }

.delay5 {
  -webkit-animation-delay: 0.5s !important;
  -moz-webkit-animation-delay: 0.5s !important;
  -ms-webkit-animation-delay: 0.5s !important;
  -o-webkit-animation-delay: 0.5s !important;
  webkit-animation-delay: 0.5s !important; }

.delay6 {
  -webkit-animation-delay: 0.6s !important;
  -moz-webkit-animation-delay: 0.6s !important;
  -ms-webkit-animation-delay: 0.6s !important;
  -o-webkit-animation-delay: 0.6s !important;
  webkit-animation-delay: 0.6s !important; }

.delay7 {
  -webkit-animation-delay: 0.7s !important;
  -moz-webkit-animation-delay: 0.7s !important;
  -ms-webkit-animation-delay: 0.7s !important;
  -o-webkit-animation-delay: 0.7s !important;
  webkit-animation-delay: 0.7s !important; }

.delay8 {
  -webkit-animation-delay: 0.8s !important;
  -moz-webkit-animation-delay: 0.8s !important;
  -ms-webkit-animation-delay: 0.8s !important;
  -o-webkit-animation-delay: 0.8s !important;
  webkit-animation-delay: 0.8s !important; }

.delay9 {
  -webkit-animation-delay: 0.9s !important;
  -moz-webkit-animation-delay: 0.9s !important;
  -ms-webkit-animation-delay: 0.9s !important;
  -o-webkit-animation-delay: 0.9s !important;
  webkit-animation-delay: 0.9s !important; }

.delay10 {
  -webkit-animation-delay: 1s !important;
  -moz-webkit-animation-delay: 1s !important;
  -ms-webkit-animation-delay: 1s !important;
  -o-webkit-animation-delay: 1s !important;
  webkit-animation-delay: 1s !important; }

.delay15 {
  -webkit-animation-delay: 1.5s !important;
  -moz-webkit-animation-delay: 1.5s !important;
  -ms-webkit-animation-delay: 1.5s !important;
  -o-webkit-animation-delay: 1.5s !important;
  webkit-animation-delay: 1.5s !important; }

.delay20 {
  -webkit-animation-delay: 2s !important;
  -moz-webkit-animation-delay: 2s !important;
  -ms-webkit-animation-delay: 2s !important;
  -o-webkit-animation-delay: 2s !important;
  webkit-animation-delay: 2s !important; }

.delay30 {
  -webkit-animation-delay: 3s !important;
  -moz-webkit-animation-delay: 3s !important;
  -ms-webkit-animation-delay: 3s !important;
  -o-webkit-animation-delay: 3s !important;
  webkit-animation-delay: 3s !important; }

.delay40 {
  -webkit-animation-delay: 4s !important;
  -moz-webkit-animation-delay: 4s !important;
  -ms-webkit-animation-delay: 4s !important;
  -o-webkit-animation-delay: 4s !important;
  webkit-animation-delay: 4s !important; }

.delay50 {
  -webkit-animation-delay: 5s !important;
  -moz-webkit-animation-delay: 5s !important;
  -ms-webkit-animation-delay: 5s !important;
  -o-webkit-animation-delay: 5s !important;
  webkit-animation-delay: 5s !important; }

.delay60 {
  -webkit-animation-delay: 6s !important;
  -moz-webkit-animation-delay: 6s !important;
  -ms-webkit-animation-delay: 6s !important;
  -o-webkit-animation-delay: 6s !important;
  webkit-animation-delay: 6s !important; }

.delay70 {
  -webkit-animation-delay: 7s !important;
  -moz-webkit-animation-delay: 7s !important;
  -ms-webkit-animation-delay: 7s !important;
  -o-webkit-animation-delay: 7s !important;
  webkit-animation-delay: 7s !important; }

.delay80 {
  -webkit-animation-delay: 8s !important;
  -moz-webkit-animation-delay: 8s !important;
  -ms-webkit-animation-delay: 8s !important;
  -o-webkit-animation-delay: 8s !important;
  webkit-animation-delay: 8s !important; }

.delay90 {
  -webkit-animation-delay: 9s !important;
  -moz-webkit-animation-delay: 9s !important;
  -ms-webkit-animation-delay: 9s !important;
  -o-webkit-animation-delay: 9s !important;
  webkit-animation-delay: 9s !important; }

@font-face {
  font-family: 'san-francisco';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/SF-UI-Text-Regular.otf"); }
@font-face {
  font-family: 'san-francisco';
  font-style: lighter;
  font-weight: 100;
  src: url("../fonts/SF-UI-Text-Light.otf"); }
@font-face {
  font-family: 'san-francisco';
  font-style: medium;
  font-weight: 400;
  src: url("../fonts/SF-UI-Text-Medium.otf"); }
@font-face {
  font-family: 'san-francisco';
  font-style: bold;
  font-weight: 500;
  src: url("../fonts/SF-UI-Text-Bold.otf"); }
html, body {
  font-family: 'san-francisco';
  font-size: 14px;
  font-weight: 300; }

h1, h2, h3, h4, h5 {
  font-weight: bold;
  line-height: 1.3rem; }

p {
  line-height: 1.5rem; }

@font-face {
  font-family: 'bpowicons';
  src: url("../fonts/bpowicons.eot?u17jcp");
  src: url("../fonts/bpowicons.eot?u17jcp#iefix") format("embedded-opentype"), url("../fonts/bpowicons.woff2?u17jcp") format("woff2"), url("../fonts/bpowicons.ttf?u17jcp") format("truetype"), url("../fonts/bpowicons.woff?u17jcp") format("woff"), url("../fonts/bpowicons.svg?u17jcp#bpowicons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bpowicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-alerting:before {
  content: "\e900"; }

.icon-archives:before {
  content: "\e901"; }

.icon-arrow-down:before {
  content: "\e902"; }

.icon-arrow-left:before {
  content: "\e903"; }

.icon-arrow-right:before {
  content: "\e904"; }

.icon-arrow-up:before {
  content: "\e905"; }

.icon-audittrail:before {
  content: "\e906"; }

.icon-blog:before {
  content: "\e907"; }

.icon-careers:before {
  content: "\e908"; }

.icon-carousel-border:before {
  content: "\e909"; }

.icon-carousel-full:before {
  content: "\e90a"; }

.icon-charting:before {
  content: "\e90b"; }

.icon-close:before {
  content: "\e90c"; }

.icon-communications:before {
  content: "\e90d"; }

.icon-compliance:before {
  content: "\e90e"; }

.icon-contracts:before {
  content: "\e90f"; }

.icon-datamanagement:before {
  content: "\e910"; }

.icon-datasource:before {
  content: "\e911"; }

.icon-documentmanagement:before {
  content: "\e912"; }

.icon-electronicfilling:before {
  content: "\e913"; }

.icon-email:before {
  content: "\e914"; }

.icon-events:before {
  content: "\e915"; }

.icon-facebook:before {
  content: "\e916"; }

.icon-financial:before {
  content: "\e917"; }

.icon-googleplus:before {
  content: "\e918"; }

.icon-health:before {
  content: "\e919"; }

.icon-legal:before {
  content: "\e91a"; }

.icon-linkedin:before {
  content: "\e91b"; }

.icon-map:before {
  content: "\e91c"; }

.icon-media:before {
  content: "\e91d"; }

.icon-most-read:before {
  content: "\e91e"; }

.icon-news:before {
  content: "\e91f"; }

.icon-platform:before {
  content: "\e920"; }

.icon-press:before {
  content: "\e921"; }

.icon-print:before {
  content: "\e922"; }

.icon-professional:before {
  content: "\e923"; }

.icon-public:before {
  content: "\e924"; }

.icon-report:before {
  content: "\e925"; }

.icon-reporting:before {
  content: "\e926"; }

.icon-retail:before {
  content: "\e927"; }

.icon-review:before {
  content: "\e928"; }

.icon-search:before {
  content: "\e929"; }

.icon-secretary:before {
  content: "\e92a"; }

.icon-security:before {
  content: "\e92b"; }

.icon-surveys:before {
  content: "\e92c"; }

.icon-tags:before {
  content: "\e92d"; }

.icon-technology:before {
  content: "\e92e"; }

.icon-transport:before {
  content: "\e92f"; }

.icon-twitter:before {
  content: "\e930"; }

.icon-workflow:before {
  content: "\e931"; }

.icon-centralise:before {
  content: "\e932"; }

.icon-datasourcenew:before {
  content: "\e933"; }

.icon-evidence:before {
  content: "\e934"; }

.icon-evolve:before {
  content: "\e935"; }

.icon-identify:before {
  content: "\e936"; }

.icon-integrate:before {
  content: "\e937"; }

.icon-manage:before {
  content: "\e938"; }

.icon-monitor:before {
  content: "\e939"; }

.icon-facilitymanagement:before {
  content: "\e93a"; }

.icon-energy:before {
  content: "\e93b"; }

.icon-partners:before {
  content: "\e93d"; }

.icon-crest:before {
  content: "\e93c"; }

.icon-companysecretary:before {
  content: "\e93e"; }

.icon-compliancenew:before {
  content: "\e93f"; }

.icon-finance:before {
  content: "\e940"; }

.icon-legalnew:before {
  content: "\e941"; }

.icon-riskmanagement:before {
  content: "\e942"; }

.icon-tax:before {
  content: "\e943"; }

.icon-menu:before {
  content: "\e944"; }

.icon-menu-close:before {
  content: "\e945"; }

.icon-register:before {
  content: "\e946"; }

.icon-details:before {
  content: "\e947"; }

.icon-documentation:before {
  content: "\e948"; }

.icon-mar:before {
  content: "\e949"; }

.icon-market:before {
  content: "\e94a"; }

.icon-notifications:before {
  content: "\e94b"; }

.icon-time:before {
  content: "\e94c"; }

.icon-customisation:before {
  content: "\e94d"; }

.icon-implementation:before {
  content: "\e94e"; }

.icon-lock:before {
  content: "\e94f"; }

.icon-self-hosted:before {
  content: "\e950"; }

.icon-support:before {
  content: "\e951"; }

.icon-training:before {
  content: "\e952"; }

html {
  background: #333; }

.page {
  height: 768px;
  width: 1024px;
  margin: 2rem auto;
  background: white;
  overflow: hidden;
  overflow-x: scroll; }

header {
  background: #3075b5;
  color: white;
  width: 1024px;
  position: fixed;
  z-index: 2; }

.ios-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem; }

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem; }
  .header-bar .organisation-dropdown-toggle {
    padding: 1rem; }
  .header-bar .right-buttons {
    padding-left: 1rem; }
    .header-bar .right-buttons i {
      padding: 1rem;
      width: 3rem;
      text-align: center; }

.organisation-dropdown {
  display: none;
  position: absolute;
  width: 300px;
  background: white;
  color: #5b666e;
  left: 0;
  box-shadow: 0 0 1px #c3cbcf; }
  .organisation-dropdown li {
    padding: 1rem;
    box-shadow: 0 1px #c3cbcf; }
    .organisation-dropdown li:last-of-type {
      box-shadow: none; }

.settings-dropdown {
  position: absolute;
  width: 300px;
  background: white;
  color: #5b666e;
  right: 0;
  display: none;
  box-shadow: 0 0 1px #c3cbcf; }
  .settings-dropdown li {
    padding: 1rem;
    box-shadow: 0 1px #c3cbcf; }
    .settings-dropdown li:last-of-type {
      box-shadow: none; }

.settings-dropdown-toggle:hover, .organisation-dropdown-toggle:hover {
  cursor: pointer; }

.page-body {
  height: 100%;
  width: 100%;
  background: #a4c1dc;
  padding-top: 5rem;
  position: relative; }

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 1024px;
  height: 768px;
  z-index: 1;
  overflow-x: hidden;
  display: none; }

img {
  width: 100%;
  max-width: 100%; }

.col {
  height: 768px;
  width: 400px;
  padding-left: 1rem;
  padding-right: 1rem;
  float: left; }
  .col .selected-meeting {
    font-weight: 400;
    font-size: 1.3rem;
    position: absolute;
    margin-top: -2rem; }
    .col .selected-meeting:hover {
      cursor: pointer; }
    .col .selected-meeting .sidebar-toggle {
      color: white;
      font-size: 1.3rem;
      line-height: 1rem;
      padding-right: 1rem; }

.meetings-col {
  padding-left: 0;
  transition: 0.3s;
  z-index: 1;
  position: absolute; }
  .meetings-col ul li:hover {
    background: #f9f9f9;
    cursor: pointer; }

.col.off {
  margin-left: -400px; }

.agenda-col, .details-col {
  padding-top: 3.5rem; }
  .agenda-col .column-card, .details-col .column-card {
    max-height: 506.88px; }

.details-col {
  width: 600px; }

.col:last-of-type .column-card {
  margin-top: 4rem; }
  .col:last-of-type .column-card img {
    border: 1px solid #c3cbcf; }

.column-card {
  height: 100%;
  background: #f9f9f9; }
  .column-card .header {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    background: #f9f9f9;
    border: 1px solid #c3cbcf; }
    .column-card .header > span {
      font-weight: normal;
      font-size: 1rem; }
    .column-card .header i {
      float: right;
      color: #5b666e;
      box-shadow: 0 0 0 1px #c3cbcf;
      padding: 0.5rem 0.5rem;
      margin-top: -0.5rem;
      margin-right: -0.5rem;
      margin-left: 1rem;
      width: 2.5rem;
      text-align: center;
      border-radius: 2px; }
      .column-card .header i:focus, .column-card .header i:active {
        background: grey; }
  .column-card .column-card-body {
    background: #f9f9f9;
    border: 1px solid #c3cbcf;
    border-top: none;
    height: 100%;
    overflow-y: scroll; }
    .column-card .column-card-body li {
      background: white;
      border-bottom: 1px solid #c3cbcf;
      padding: 1rem; }
      .column-card .column-card-body li .meeting-title {
        font-weight: 600;
        margin-bottom: 0.5rem; }
      .column-card .column-card-body li .meeting-organisation, .column-card .column-card-body li .meeting-time, .column-card .column-card-body li .agenda-time {
        color: #c3cbcf; }
      .column-card .column-card-body li .meeting-organisation {
        margin-bottom: 1rem; }
      .column-card .column-card-body li .agenda-title {
        margin-bottom: .5rem; }
      .column-card .column-card-body li table td:first-of-type {
        font-weight: 400;
        color: #c3cbcf; }
      .column-card .column-card-body li table td {
        padding: 1rem;
        padding-left: 0; }
      .column-card .column-card-body li .list-icon {
        position: absolute;
        margin-right: 2rem;
        right: 0;
        margin-top: -2.5rem;
        color: #c3cbcf; }
      .column-card .column-card-body li .unread {
        color: #3075b5; }

.bottom-tabs {
  position: fixed;
  top: 728px;
  width: 1024px;
  background: white;
  border-top: 1px solid #c3cbcf;
  color: #5b666e; }
  .bottom-tabs ul {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 600px; }
    .bottom-tabs ul li {
      display: inline-block;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.3rem; }
      .bottom-tabs ul li div {
        margin-top: 0.5rem;
        font-size: 1rem; }

/*# sourceMappingURL=style.css.map */
