// general elements
html {
  background: #333;
}

.page {
  height:$height;
  width:$width;
  margin:2rem auto;
  background:white;
  overflow:hidden;
  overflow-x:scroll;
}

// header

header {
  background:$primary;
  color:white;
  width:$width;
  position:fixed;
  z-index: 2;
}

.ios-bar {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:0.5rem 1rem;
}

.header-bar {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  font-size:1.3rem;
  .organisation-dropdown-toggle {
    padding: 1rem;
  }
  .right-buttons {
    padding-left: 1rem;
    i {
      padding: 1rem;
      width: 3rem;
      text-align: center;
    }
  }
}

.organisation-dropdown {
  display: none;
  position: absolute;
  width:300px;
  background: white;
  color: $grey-dark;
  left: 1rem;
  box-shadow: 0 0 0 1px #c3cbcf;
  li {
    padding: 1rem;
    box-shadow: 0 -1px #c3cbcf;
    
    &:hover {
      background: $grey-light;
    }
  }
}

.settings-dropdown {
  position: absolute;
  width: 300px;
  background: white;
  color: $grey-dark;
  right: 1rem;
  display: none;
  box-shadow: 0 0 0 1px #c3cbcf;
  li {
    padding: 1rem;
    box-shadow: 0 -1px #c3cbcf;
    
    &:hover {
      background: $grey-light;
    }
  }
}

.settings-dropdown-toggle:hover, .organisation-dropdown-toggle:hover {
  cursor: pointer;
}

.page-body {
  height:100%;
  width:100%;
  background:$primary-light;
  padding-top:5rem;
  position:relative;
}

.overlay {
  position: absolute;
  background:rgba(0,0,0,0.5);
  width:$width;
  height:$height;
  z-index:1;
  overflow-x:hidden;
  display:none;
}

img {
  width:100%;
  max-width:100%;
}

// columns
.col {
  height:$height;
  width:$col-width;
  padding-left:1rem;
  padding-right:1rem;
  float:left;
  .selected-meeting {
    font-weight:400;
    font-size:1.3rem;
    position: absolute;
    margin-top: -2rem;
    &:hover {
      cursor:pointer;
    }
    .sidebar-toggle {
      color:white;
      font-size:1.3rem;
      line-height:1rem;
      padding-right:1rem;
    }

  }
}

.meetings-col {
  padding-left:0;
  transition:0.3s;
  z-index:1;
  position:absolute;
  ul li:hover {
    background:$grey-light;
    cursor:pointer;
  }
}

.col.off {
  margin-left:-$col-width;
}

.agenda-col, .details-col {
  padding-top: 3.5rem;
  .column-card {
    max-height: $height*0.66;
  }
}

.agenda-col {
  
}

.details-col {
  width:1.5*$col-width;
}

.col:last-of-type {
  .column-card {
    margin-top:4rem;
    img {
      border:$grey-border;
    }
  }
}



// card
.column-card {
  height:100%;
  background: $grey-light;
  .header {
    padding:1rem;
    font-size:1.3rem;
    font-weight:600;
    background:$grey-light;
    border:$grey-border;
    & > span {
      font-weight:normal;
      font-size: 1rem;
    }
    i {
      float: right;
      color: $grey-dark;
      box-shadow: 0 0 0 1px $grey;
      padding: 0.5rem 0.5rem;
      margin-top: -0.5rem;
      margin-right: -0.5rem;
      margin-left: 1rem;
      width: 2.5rem;
      text-align: center;
      border-radius: 2px;
      &:focus, &:active {
        background: grey;
      }
    }
  }
  .column-card-body {
    background:$grey-light;
    border:$grey-border;
    border-top:none;
    height:100%;
    overflow-y:scroll;
    li {
      background: white;
      border-bottom:$grey-border;
      padding: 1rem;
      .meeting-title {
        font-weight:600;
        margin-bottom: 0.5rem;
      }
      .meeting-organisation, .meeting-time, .agenda-time {
        color:$grey;
      }
      .meeting-organisation {
        margin-bottom: 1rem;
      }
      .agenda-title {
        margin-bottom: .5rem;
      }
      table {
        td:first-of-type {
          font-weight:400;
          color:$grey;
        }
        td {
          padding:1rem;
          padding-left:0;
        }
      }
      .list-icon {
        position: absolute;
        margin-right: 2rem;
        right: 0;
        margin-top: -2.5rem;
        color: $grey;
      }
      .unread {
        color: $primary;
      }
    }
  }
}

// bottom tabs
.bottom-tabs {
    position: fixed;
    top: ($height)-40px;
    width: $width;
    background: white;
    border-top: $grey-border;
    color: $grey-dark;
    ul {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      max-width: 700px;
      li {
        display: inline-block;
        text-align: center;
        padding: 1rem 0.5rem;
        font-size: 1.3rem;
        width: 10rem;
        &:hover {
          background: $grey;
        }
        div {
          margin-top: 0.5rem;
          font-size: 1rem;
        }
      }
    }
    
}